* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.menu{
display: none;
}
.box{
  position:absolute;
  top:-1200px;
  width:100%;
  color:#fff;
  margin:auto;
  padding:0px;
  z-index:999999;
  text-align:right;
  left:0;
 }
 a.boxclose{
  cursor: pointer;
  text-align: center;
  display: block;
  position: absolute;
  top: 46px;
  right: 320px;
 }
 .menu_box_list {
  display: inline-block;
  margin-right: 35em;
 }
 .menu_box_list ul li {
  display:inline-block;
 }
 .menu_box_list li a{
  color: black;
  font-size: 1.2em;
  font-weight:400;
  display: block;
  padding:0.5em 0.5em;
  text-decoration:none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  letter-spacing: 0.1em;
  background-color: #e7e7e7;
  border-bottom: 2px solid gray;
 }
 .menu_box_list li a:hover,.menu_box_list ul li.active a{
  background-color: #c32055;
 }
.sidebar {
  background-color: #f8f9fa;
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  padding-top: 20px;
  overflow-x: hidden;
  border-right: 2px solid gray;
  z-index: 1000; 
}
body{
  margin-left: 240px;
  width: calc(100% - 240px);
}
.content {
 
  flex: 1;
  padding: 20px;
  z-index: 1; /* Установка z-index для контента, чтобы он оставался под меню */
}
.card{
border-right: 2px solid grey;
border-bottom: 2px solid grey ;
margin-bottom: 50px;
}
.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.nav-link {
  color: black;
  background-color: #f6f6f6; /* Цвет текста для неактивных пунктов меню */
}

.nav-link.active {
  background-color: #c32055;  
  color: black;
  /* Розовый цвет для активного пункта меню */
}
.card-body div img {
  padding: 5px;
  border-radius: 5px;
}
.b1 img{
  background-color: green;
}
.b2 img{
  background-color: #d99f24;
}
.b3 img{
  background-color: #274c94;
}
.b4 img{
  background-color: #c32055;
}
.g1 img{
  background-color: green;
}
.g2 img{
  background-color: #d99f24;
}
.g3 img{
  background-color: #274c94;
}
.card-body div {
 position: relative;
 transform: translateY(-25px) ;
}
.graf1, .graf2, .graf3 {
  max-width: 100%;
  height: auto;
}
.empl-header {
  border-radius: 5px;
  background-color: #274c94;
  margin-top: -20px; /* Поднять блок наверх на 20px */
  padding: 20px;
}
.task-header {
  border-radius: 5px;
  background-color: #d99f24;
  margin-top: -20px; /* Поднять блок наверх на 20px */
  padding: 20px;
  display: flex; /* Добавляем flex-контейнер для выравнивания элементов */
  justify-content: space-between; /* Равномерно распределяем элементы по ширине */
  align-items: center; /* Выравниваем элементы по вертикали */
}
.task-header button {
  flex: 1; /* Растягиваем кнопки на всю доступную ширину */
  background-color: transparent; /* Убираем задний фон кнопок */
  border-color: transparent; /* Убираем цвет рамки кнопок */
 
}
.task-header button:hover {
  background-color:gray; /* Убираем цвет фона при наведении */
  border-color: gray; /* Убираем цвет рамки при наведении */
}
.task-list {
  padding-top: 15px; /* Добавляем отступ сверху */
}
.form-check { 
  border-bottom: 1px solid #ccc; /* Добавляем разделительную линию */
}
.table th {
  font-weight: normal; /* Убираем жирность текста */
  color: gray; /* Задаем серый цвет текста */
}
.form-check {
    display: flex;
    align-items: center;
}
.form-check-label {
    flex-grow: 1; /* Растягиваем текст на всю доступную ширину */
}
@media (max-width: 800px) {
  .sidebar {
    display: none; 
}
.menu
{
  display: block;
  border-bottom: 2px solid gray;
}
body{
  margin-left: auto;
  width: auto;
  margin: 15px;
}
.menu_box_list {
  margin-right: 3em;
 }
 a.boxclose {
  right: 28px;
  top:18px;
 }
 .menu_box_list ul li {
  display:block;
 }
 .menu_box_list ul {
  padding:1.5em 30em;
  margin:28px 0px;
  text-align:center;
  width: 140%;
 }
 .card-body {
  flex-wrap: nowrap; /* Позволяет переносить элементы на новую строку при нехватке места */
}
}

@media (max-width: 650px) {
  
  .sidebar {
      display: none; 
  }
  .menu
  {
    display: block;
    border-bottom: 2px solid gray;
  }
  body{
    margin-left: auto;
    width: auto;
    margin: 15px;
  }
  .menu_box_list {
    margin-right: 3em;
   }
   a.boxclose {
    right: 28px;
    top:18px;
   }
   .menu_box_list ul li {
    display:block;
   }
   .menu_box_list ul {
    background:transparent;
    padding:1em 16em;
    margin:35px 0px ;
    text-align:center;
   }
   .card
   {
    flex-wrap: nowrap;
   }
   }

