
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p
{
    margin-bottom: 20px;
}
.item.list
{
    width: 300px;
}
.conteiner
{
display: flex;
}
.item.text
{
    padding: 10px;
}
.list
{
    margin: 10px;
}
.item.list table {
    border-collapse:collapse ; /* Убираем пробелы между ячейками таблицы */
    width: 100%; /* Ширина таблицы 100% для полного заполнения родительского контейнера */
}
.item.list td {
    padding: 8px; /* Добавляем отступы в ячейках */
    border-bottom: 1px solid #37516c; /* Линии-разделители между строками таблицы */
}

.list td {
    background-color:#b0c4df; 
}
.item.list table tr:first-child td {
    color:antiquewhite;
    background-color: #37516c;
    border-top-left-radius: 10px; /* Радиус верхнего левого угла */
border-top-right-radius: 10px; /* Замените #your_color_here на желаемый цвет */
}
.item.list:nth-last-child(-n+2) table tr:last-child td {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: none;
}
.item.list2 table {
    border-collapse: collapse; /* Убираем пробелы между ячейками таблицы */
    width: 100%; /* Ширина таблицы 100% для полного заполнения родительского контейнера */
}
@media screen and (min-width:800px) {

.Text
{
flex-direction: column;
flex:1;
}
.Menu
{
    flex-direction: column;
    flex: 0.5;
}
.item
{
justify-content: space-around;
}
}
@media screen and (min-width: 600px) and (max-width: 800px) {

.conteiner
{
    flex-direction: column;
}
.Menu
{
    flex-direction: row;
    justify-content: space-evenly;
}
}
@media screen and (max-width: 600px) {
    .conteiner
    {
        flex-direction: column;
    }
    .item.list
    {
        width: auto;
    }

}