.row
{
    margin-top: 5em;
}
.prof {
    width: 100%;
    color: white;
    background-color: #c32055;
    border-radius: 5px;
    padding: 15px;
}
.formProf
{
    display: flex;
    flex-direction: row;
}
.card-body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgUser {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray; 
    margin-top: -40px;
}
.EditProf
{
    color: white;
    background-color: #c32055;
    border-radius: 5px;
}
@media (max-width: 800px) {
    
      .menu
      {
        display: none;
      }
      body{
        margin-left: 240px;
        width: calc(100% - 240px);
      }
      .sidebar
      {
        display: block ;
      }
    }
  
  @media (max-width: 650px) {
    
   .menu
   {
    display: block;
   }
   body{
    margin-left: auto;
    width: auto;
    margin: 15px;
  }
   .sidebar
   {
    display: none;
   }
}
  